$bg-color: #0A0A0A;
$border-color: #404040;
$hover-color: #2a2a2a;
$white-text: #FFFFFF;
$black: #000000;
$gray-text: #C6C6C6;
$red-text: #F4616B;
$bg-block: #131313;
$gray-block: #151515;
$hr-color: #4D4D4D;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

a,
a:active,
a:hover{
    text-decoration: none;
    color: $white-text;
}

ul{
    list-style-type: none;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    color: $white-text;
    background-color: $bg-color;
}

.wrapper{
    width: 85vw;
    margin: 0 auto;
    text-align: left;
}

header{
    padding-top: 15vh;

    h1{
        font-size: 1.9em;
        font-weight: 500;
        line-height: 1em;

        span{
            color: $red-text;
            font-weight: 800;
        }
    }
}

main section{
    padding-top: 60px;

    h2{
        width: 100%;
        font-size: 1.7em;
        font-weight: 700;
        line-height: 1em;
    }

    hr{
        padding: 0 20px 0 20px;
        height: 2px;
        border: none;
        background-color: $hr-color;
    }

    p{
        color: $gray-text;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.2em;

        span{
            color:$red-text;
        }

        .bold-text-link{
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}

.skills{
    div{
        margin: 15px 0;
        padding: 15px;
        background-color: $bg-block;
        border-radius: 10px;

        h3{
            margin: 0;
            line-height: 1em;
            font-size: 16px;
            font-weight: 800;
        }

        ul{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
            justify-items: left;
            align-items: center;
            gap: 15px 30px;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 30px;
                img{
                    width: 30px;
                    height: 30px;
                    padding-right: 5px;
                }
            }
        }
    }
}

.hobby{

    div{
        p{
            line-height: 1.5em;
        }
    }

    ul{
        li{
            padding: 15px;
            margin: 15px 0;
            background-color: $bg-block;
            border-radius: 10px;

            p{
                color: $white-text;
                margin: 0;
                line-height: 1em;
            }
        }
    }
}

.contacts-block{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        
        li a{
            display: flex;
            flex-direction: row;
            padding: 15px;
            align-items: center;
            background-color: $bg-block;
            border-radius: 10px;

            img{
                margin-right: 15px;
            }
            p{
                margin: 0;
            }

            &:hover, &:active{
                background-color: $hover-color;
                transform: scale(1.05);
                cursor: pointer;
            }
        }
        
    }
}

footer{
    padding: 15vh 0 6vh 0;
    display: flex;
    justify-content: center;

    .author{
        background-color: $bg-block;
        display: inline-block;
        border-radius: 10px;
        padding: 0px 2em;
        p{
            font-size: 1em;
            font-style: normal;
            font-weight: 300;
            line-height: 0em;
        }
    }
    
}

@media only screen and (min-width: 600px){
    .wrapper{
        width: 68vw;
    }
}

@media only screen and (min-width: 800px){
    .wrapper{
        width: 78vw;
    }

    header{
        h1{
            font-size: 2.6em;
        }
    }
}

@media only screen and (min-width: 1000px){
    .wrapper{
        width: 54vw;
    }

    header{
        h1{
            font-size: 3em;
        }
    }

    main section{
        h2{
            font-size: 1.9em;
        }
    }
}
