$bg-color: #0A0A0A;
$border-color: #404040;
$hover-color: #2a2a2a;
$white-text: #FFFFFF;
$black: #000000;
$gray-text: #C6C6C6;
$red-text: #F4616B;
$bg-block: #131313;
$gray-block: #151515;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    color: $white-text;
    background-color: $bg-color;
}

.wrapper{
    width: 85vw;
    margin: 0 auto;
    text-align: center;
}

.image-header{
    margin-top: 13vh;
    height: 33vh;
    border: 2px solid $border-color;
    border-radius: 10px;
    overflow: hidden;
    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 270px;
        border-radius: 10px;
        
    }
   
}

.avatar{
    height: 8em;
    width: 8em;
    margin: -3em auto 0;
    border-radius: 50%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border: 5px solid $border-color;
        border-radius: 50%;
    }
}

.text-info{
    margin-top: .3em;
    display: flex;
    flex-direction: column;

    h3,h2,h1{
        margin: 0;
        padding: 0;
        font-style: normal;
        line-height: normal;
        text-align: center;
    }

    h3{
        font-size: 2em;
        font-weight: 300;
    }

    h1{
        font-size: 2em;
        font-weight: 700;
    }

    h2{
        font-size: 1.2em;
        font-weight: 400;
    }
}

.title-menu, .author{
    margin-top: 6em;
    background-color: $bg-block;
    display: inline-block;
    border-radius: 10px;
    padding: 0px 2em;
    p{
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: .1em;
    }
}

.author{
    margin-top: 3em;
    margin-bottom: 3em;
}

.menu{
    display: flex;
    justify-content: center;
    ul{
        flex-grow: 1;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3px;
            padding: 1.1em;
            margin: 5px 0px;
            background-color: $bg-block;
            border-radius: 10px;
            transition: transform 0.2s ease;

            .text-menu{
                text-align: left;
                line-height: .3em;

                .menu-title{
                    font-size: 1.2em;
                    font-style: normal;
                    font-weight: 700;
                }

                .menu-description{
                    color: $gray-text;
                    font-size: 0.8em;
                    font-style: normal;
                    font-weight: 500;
                    line-height: .8em;
                }
            }

            &:hover, &:active{
                background-color: $hover-color;
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    }
}

.middle-block{
    margin-top: 5em;
    padding-top: 6em;
    background: $gray-block;
    box-shadow: 0px -60em 100px -10em #000000 inset;

    main{
        text-align: left;
        h2{
            font-size: 1.5em;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            span{
                color: $red-text;
            }
        }

        p{
            color: #C6C6C6;
            font-size: 1.2em;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    .main-image{
        width: 100%;
        margin-top: 8em;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@media only screen and (min-width: 800px){
    .wrapper{
        width: 54vw;
        margin: 0 auto;
        text-align: center;
    }

    .avatar{
        height: 9em;
        width: 9em;
        margin: -5em auto 0;
    }

    .text-info{
        h1{
            font-size: 2.3em;
        }
    }

    .menu{
        ul {
            flex-grow: 0;
            flex-direction: row;

            li{
                margin: 5px 7px;
            }
        }
    }

    .middle-block main{
        h2{
            font-size: 3em;
        }

        p{
            font-size: 1.4em;
        }
    }

    .middle-block{
        box-shadow: 0px -60em 100px -10em #000000 inset;
    }

}

@media only screen and (min-width: 1100px){
    .middle-block{
        box-shadow: 0px -70em 100px -10em #000000 inset;
    }
}