@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  background-color: #0A0A0A;
}

.wrapper {
  width: 85vw;
  margin: 0 auto;
  text-align: center;
}

.image-header {
  margin-top: 13vh;
  height: 33vh;
  border: 2px solid #404040;
  border-radius: 10px;
  overflow: hidden;
}
.image-header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 18em;
  border-radius: 10px;
}

.avatar {
  height: 8em;
  width: 8em;
  margin: -3em auto 0;
  border-radius: 50%;
}
.avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 5px solid #404040;
  border-radius: 50%;
}

.text-info {
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
}
.text-info h3, .text-info h2, .text-info h1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.text-info h3 {
  font-size: 2em;
  font-weight: 300;
}
.text-info h1 {
  font-size: 2em;
  font-weight: 700;
}
.text-info h2 {
  font-size: 1.2em;
  font-weight: 400;
  color: #C6C6C6;
}

.title-menu, .author {
  margin-top: 6em;
  background-color: #131313;
  display: inline-block;
  border-radius: 10px;
  padding: 0px 2em;
}
.title-menu p, .author p {
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 0em;
}

.author {
  margin-top: 3em;
  margin-bottom: 3em;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu ul {
  flex-grow: 1;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.menu ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  padding: 1.1em;
  margin: 5px 0px;
  background-color: #131313;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.menu ul li .text-menu {
  text-align: left;
  line-height: 0.3em;
}
.menu ul li .text-menu .menu-title {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
}
.menu ul li .text-menu .menu-description {
  color: #C6C6C6;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8em;
}
.menu ul li:hover, .menu ul li:active {
  background-color: #2a2a2a;
  transform: scale(1.03);
  cursor: pointer;
}

.middle-block {
  margin-top: 5em;
  padding-top: 6em;
  background: #151515;
  box-shadow: 0px -60em 100px -10em #000000 inset;
}
.middle-block main {
  text-align: left;
}
.middle-block main h2 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.middle-block main h2 span {
  color: #F4616B;
}
.middle-block main p {
  color: #C6C6C6;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.middle-block .main-image {
  width: 100%;
  margin-top: 8em;
}
.middle-block .main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    width: 54vw;
    margin: 0 auto;
    text-align: center;
  }
  .avatar {
    height: 9em;
    width: 9em;
    margin: -5em auto 0;
  }
  .text-info h1 {
    font-size: 2.3em;
  }
  .menu ul {
    flex-grow: 0;
    flex-direction: row;
  }
  .menu ul li {
    margin: 5px 7px;
  }
  .middle-block main h2 {
    font-size: 3em;
  }
  .middle-block main p {
    font-size: 1.4em;
  }
  .middle-block {
    box-shadow: 0px -60em 100px -10em #000000 inset;
  }
}
@media only screen and (min-width: 1100px) {
  .middle-block {
    box-shadow: 0px -70em 100px -10em #000000 inset;
  }
}/*# sourceMappingURL=main.css.map */